@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

/* căn thời gian của hover */

* {
    transition: all .75s ease-out;
}


/* set up font chữ */

html,
body {
    height: 100%;
    font-family: "Nunito", sans-serif;
    
}

.header {
    background-image: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url(../img/back.png);
    background-size: cover;
    text-align: center;
    height: 100vh;
    width: 100%;
    z-index: 10;
    margin-right: 0;
}

nav{
    padding:10px 10%;
}

/* phần css của thanh nav */

i {
    color: rgba(255, 255, 255, 0.719);
    margin: 0 10px;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.fa {
    font-size: 17px;
}


.btn form{
    width: 400px;
    height:500px;
    padding:50px;
   margin-left:75%; 
   margin-top: -5000px;
}

.btn_search {
    border:none;
    background:transparent;
    color:white;
    padding-right: 20px;
}
.input_search{
    background:transparent;
    color:white;
    border:0;
}
.input_search:focus,.input_search:focus-visible{
    background:transparent;
    color:white;
    border:0;
    box-shadow: none;
}
.input_search::placeholder{
    color:white;
}

/* phần css của thanh nav */ 


/* phần css của content_content */

.header_content {
    margin-top: 300px;
}

.header_content h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
}

li {
    list-style: none;
    margin-left: 50px;
}

li a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    text-align: center;
}

.content_content_line {
    flex-wrap: wrap;
    align-items: center;
    /* căng vị trí các thẻ ở giữa */
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

.linkshop::after {
    content: '';
    width: 115%;
    height: 2px;
    background: #dad8d7dc;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.linkshop:hover::after {
    width: 0%;
}

.linkshop:hover {
    color: #fff;
}


/* <!--==================== BESTSELLER ====================--> */

.bestseller {
    background: #fff;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.bestseller h1 {
    margin-top: 80px;
    margin-bottom: 80px;
}

/*<!--==================== SWIPER ====================--> */
.productcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    max-width: 1000px;
    margin-bottom: 50px;
}

.card{
    margin-left: 75px;
    margin-top: 30px;
    height:310px;
    width: 245px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.card img{
    border-radius:10px;
    height:210px;
    width: 245px;
}
.card h3{
    font-size:20px;
    font-weight:bold;
    color:black;
    padding-top: 20px;
}
.card span{
    font-size:17px;
    margin-top:5px;
    font-weight:bold;
    color:rgba(100, 96, 96, 0.734);
}

/* <!--==================== CATEGORY ====================--> */
.category_products {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 300px;
    margin: 30px;
}
.category_part{
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.product-card {
    background-image: linear-gradient(0, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url(../img/a6.png);
    background-size: cover;
    height: 300px;
    width: 300px;
    padding: 10px 10%;
    position: relative;
    margin: 10px 20px;
}

.product-card a {
    position: absolute;
    height: 50px;
    width: 170px;
    background: rgb(227, 225, 225);
    top: 43%;
    right: 20%;
    border: none;
    text-decoration: none;
    padding-top: 10px;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

.product-card:hover {
    background-image: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)), url(../img/a6.png);
    transition: 2s;
}

.footer h1 {
    margin-top: 2000px;
    
}
/* <!--==================== CART====================--> */
.line_h1{
   text-align: center;
    margin: 100px auto;
}

.page{
    margin:10px 10%;
}
.rating img {
    height:20px;
    width: 20px;
    margin : 0 3px;
  
}
.rating{
    display: flex;
    margin-left: 950px;
    margin-bottom: 20px;
}
.price{
    margin-left:20px;
}
.color_btn{
    height:70px;
    width: 70px;
    margin-bottom: 30px;
    padding: 5px;
    margin-left: 10px;
}
.color_btn:hover{
    border-bottom: 2px solid #000;
}
.sidebar{
    margin-top: 50px;
}
.sidebar img{
    padding: 5px;
    margin:2px 15px ;
}
.sidebar img:hover{
    border-bottom: 2px solid #000;
}
.number_card{
    border: 1px solid rgba(0, 0, 0, 0.248);
    border-radius: 0;
    color:black;
    padding:0 20px;
    width: 150px;
    height:60px;
}
.abc{
    background:black;
    width: 225px;
    border-radius:0;
    margin-left: 20px;
    border: none;
    padding: 15px 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.btn_card{
    border: 1px solid #000;
    border-radius: 0;
    color:rgba(0, 0, 0, 0.404);
    padding:0 20px;
    width: 150px;
    height:60px;
    margin-left: 20px;
    padding: 18px 0;
}
.btn_card:hover{
    color:rgba(0, 0, 0, 0.404);
}
.number_card:hover{
    border: 1px solid #000;
}
.abc:hover{
    background:rgba(0, 0, 0, 0.65);
    color:white;
    transition:0.5s
}
.abc i{
    color:white;
}
