.come-from-modal.right .modal-dialog {
    position: fixed;
    width: 550px;
    height: 200%;
    margin-top:-30px;
    margin-left: 15%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
.come-from-modal.right .modal-content {
    height: 100%;
    border-radius: 0px;
}

.come-from-modal.right .modal-body {
    padding: 15px 15px 80px;
}
.come-from-modal.right.fade .modal-dialog {
    right: 0px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
}
.mb-3 input{
    height:50px;
    width: 400px;
    margin: 10px 10% ;
    border:1px solid #d2d2d2;
    border-radius: 0;
    padding: 10px;
}
.mb-3 input:hover{
    border:1px solid #000;
    color: #000;
}
.btn_log,.btn_log:hover {
    height:50px;
    width: 400px;
    margin: 40px 10% 10px 10% ;
    border:none;
    border-radius: 0;
    background-color:black;
    font-weight:bold;
    font-size: 15px;
    color:white;    
}
.modal-header button{
    font-size: 30px;
}
.modal-title {
    margin-left: 40%;
    font-size: 20px;
}
.dropdown{
    margin-top: 70px;
}
.a{
    height:50px;
    width: 400px;
    margin: 10px 10% ;
    border-radius: 0;
    font-weight:bold;
    font-size: 15px;
    color:white;    
    border:1px solid #000;
    color: #000;
}